{{define "title"}}Create a New Record{{end}}

{{define "main"}}
<form action='/record/create' method='POST'>
    <div>
        <label>Title:</label>
        {{with .Form.FieldErrors.title}}
        <label>{{.}}</label>
        {{end}}
        <input type='text' name='title' value='{{.Form.Title}}'>
    </div>
    <div>
        <label>Artist:</label>
        {{with .Form.FieldErrors.artist}}
        <label>{{.}}</label>
        {{end}}
        <input type='text' name='artist' value='{{.Form.Artist}}'>
    </div>
    <div>
        <input type='submit' value='Create record'>
    </div>
</form>
{{end}}