{{define "title"}}Create a New Record{{end}}

{{define "main"}}
<form action='/record/create'>
    <div>
        <label>Title:</label>
        <input type='text' name='title'>
    </div>
    <div>
        <label>Artist:</label>
        <input type='text' name='title'>
    </div>
    <div>
        <input type='submit' value='Create record'>
    </div>
</form>
{{end}}