{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Records</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Created</th>
        <th>ID</th>
    </tr>
</table>
<p>There's nothing to see here yet!</p>
{{end}}