{{define "title"}}Record{{end}}
{{define "main"}}
    {{with .Record}}
    <div>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>{{.Artist}}</span>
        </div>
        <div>
            <time>Created: {{humanDate .CreatedAt}}</time>
            <time>Last updated: {{humanDate .UpdatedAt}}</time>
        </div>
    </div>
    {{end}}
    <div>
        <h3>Sides</h3>
        <ul>
            {{range .Sides}}
                <li>Side {{.Name}}</li>
            {{end}}
        </ul>
    </div>
{{end}}
