{{define "base"}}
    <!doctype html>
    <html>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Pedro</title>
    </head>
    <header>
        <h1><a href='/'>Pedro</a></h1>
    </header>
    <main>
        {{template "main" .}}
    </main>
    </html>
{{end}}